[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pytest = "*"
mysqlclient = "*"
dj-database-url = "*"
requests = "*"
gunicorn = "*"
portalocker = "*"
whitenoise = "*"
django-rest-swagger = "*"
pyyaml = "*"
uritemplate = "*"
coreapi = "*"
drf-yasg = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.9"
